@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
  }
  
  .ql-editor {
    font-size: 1rem;
  }
  
  .post-content p {
    margin-bottom: 0.5rem;
  }
  
  .post-content h1 {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.4rem 0;
  }
  
  .post-content h2 {
    font-size: 1.3rem;
    font-family: sans-serif;
    margin: 1.4rem 0;
  }
  
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  
  .post-content a:hover {
    text-decoration: underline;
  }
  
  .dark .post-content a {
    color: #e1b99a;
  }
  /* .dark .post-content h3 {
    color: #e1ee6d;
  }
  .dark .post-content h2 {
    color: #d7ca6d;
  }
  .dark .post-content h1 {
    color: #4ee6e6;
  } */